
<style>
  .search-btn {
    background-color:#fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"> <i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarNavAltMarkup" 
        >
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div> 
        <div class="navbar-nav ms-auto">
          <form class="d-flex" action="/listings/search" method="GET">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" name="title" />
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link " href="/listings/new">Add New Place</a>
          `<% if (typeof currUser !== 'undefined') { %>
            <!-- Show options for logged-in user -->
            <a class="nav-link" href="/listings/new">Add New Place</a>
            <a class="nav-link" href="/logout">Logout</a>
          <% } else { %>
            <!-- Show login/signup links for guests -->
            <a class="nav-link" href="/signup">Sign Up</a>
            <a class="nav-link" href="/login">Login</a>
          <%}%>
          
        </div>
      </div>
    </div>
</nav>
  